<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/hamza/eclipse-workspace/MavenSampleProject">
        <classes>
            <class name="QAclickAcademy.AppiumTest">
                <methods>
                    <include name="nativeAppAndroid"/>
                    <include name="IOSApp"/>
                </methods>
            </class>
            <class name="QAclickAcademy.RestAPITest">
                <methods>
                    <include name="postJira"/>
                    <include name="deleteTwitter"/>
                </methods>
            </class>
            <class name="QAclickAcademy.SeleniumTest">
                <methods>
                    <include name="browserAutomation"/>
                    <include name="elementUA"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>